@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
/* font-family: 'Barlow Semi Condensed';*/
* {
  font-family:'Barlow Semi Condensed';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%); */
  background-image: radial-gradient(circle at top, #1f3756, #141539);
  font-size: 1vw;
}
.container37 {
  width: 37%;
}

header {
  width: 52vw;
  height: 20vh;
  margin: 6vh auto 8vh;
  border: 0.25rem solid #606e85;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 1.25rem;
}
header div.title {
  display: flex;
  flex-direction: column;
}
header div.score {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 21%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.25rem 0;
}
header div.score .txtScore {
  color: hsl(229, 64%, 46%);
}
header div.score .numScore {
  font-size:3.5rem;
  color: hsl(229, 25%, 31%);
}


main {
  /* background-color:red; */
  width: 70vw;
  height: 57vh;
  margin: 0 auto;
}
main .container3 {
  width: 12.5rem;
  height: 12.5rem;
  padding: 1.4375rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s ease 0s;
}
main .option {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0.4375rem 0.0625rem #2a46c047;
  border: none;
  cursor: pointer;
}
main .option img {
  width: 40%;
}
main .paper {
  background: linear-gradient(#4865f4, #5671f5);
  box-shadow: inset 0 -0.4688rem 0.125rem #2643c5;
}
main .scissors {
  background: linear-gradient(#ec9e0e, #eca922);
  box-shadow: inset 0 -0.4688rem 0.125rem #c87019;
}
main .rock {
  background: linear-gradient(#dc2e4e, #dd405d);
  box-shadow: inset 0 -0.4688rem 0.125rem #9b1530;
}

main .userPick {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}
main .userPick .triangle {
  height: 80%;
  position: absolute;
  margin-top: 6.125rem;
  z-index: 1;
}
main .userPick .container2 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}
/* main .userPick .container3 {
  width: 12.5rem;
  height: 12.5rem;
  padding: 1.4375rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s ease 0s;
} */
main .userPick .container3:hover {
  transform: scale(0.95);
}
main .userPick .paperAndScissors {
  margin: 0 3.125rem ;
}
main .userPick .onlyRock {
  margin-top: 1.6875rem;
}
/* main .userPick .option {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0.4375rem 0.0625rem #2a46c047;
  border: none;
  cursor: pointer;
}
main .userPick .option img {
  width: 40%;
} */

main .displayPick {
    /* background-color: red; */
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* margin:0 auto; */
}
main .displayPick .container37 {
  height: 100%;
}
main .displayPick .title {
    /* background-color: orange; */
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .displayPick .title h2 {
  font-size: 1.8rem;
  color:  #fff;
}
main .displayPick .picked {
    /* background-color: blue; */
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .displayPick .container3 {
  transform: scale(1.5);
  cursor: default;
}
main .displayPick .option {
  cursor: default;
}

main .result {
    /* background: #00ff00; */
  width: 26%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.25rem;
}
main .result h2 {
  width: 100%;
  font-size:3.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
main .result .playAgain {
  margin-top: 0.9375rem;
  width: 80%;
  text-transform: uppercase;
  color: #3b4363;
  font-size: 1.3rem;
  font-weight: 700;
  height: 2.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

footer {
  /* background-color: orange; */
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 4vh;
  margin-bottom: calc(4vh - 0.8125rem);
}
footer .btnRules {
  background: none;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  border-radius: 0.625rem;
  border: 0.125rem solid #606e85;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  cursor: pointer;
  transition: background-color 1s ease 0s, color 1s ease 0s;
}
footer .btnRules:hover {
  background-color: #fff;
  color: rgb(59, 67, 99);
}


div.containerRules {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5px);
  transition: transform 1s ease 0s;
}
div.containerRules .rules {
  background-color: #fff;
  border-radius: 0.5rem;
  /* margin: 8.75%; */
  width: 30%;
  height: 54.5vh;
}
div.containerRules .top {
  display: flex;
  justify-content: space-between;
  padding: 6.75% 8.75% 15%;
  color: rgb(59, 67, 99);
  font-size: 1.25rem;
}
div.containerRules .close {
  background: none;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease 0s;
}
div.containerRules .close:hover {
  transform: scale(1.1);
}
div.containerRules .rulesImgOriginal {
  display: flex;
  justify-content: center;
  padding: 0 8.75% ;
}

